{% extends 'layout.html' %}


{% block content %}
    <div class="container">
        <h1>
            Работа найдется для каждого
        </h1>
        <h2>
            <a href="{% url 'create_resume' %}">Создать резюме</a>
        </h2>
        <form id="searchbar" action="#" method="get">
            <input class="form-text" name="q" type="text" data-role="tagsinput" placeholder="Профессия, должность или компания">
        </form>
        <br>
        <button form="searchbar">
            Найти работу
        </button>
    </div>
{% endblock %}
